# Exclude everything except publish directory
*
!./bin/Release/Provider.AspNetCore/net8.0/publish

# Exclude windows and osx dependencies because we build Linux image.
**/runtimes/osx-*
**/runtimes/win-*

# Exclude symbol files.
**/*.pdb

# Exclude development application settings.
**/appsettings.*.json
